<div class="film" data-film-lists-target="delete" data-list-id="<%= film_list.id %>">
  <div class= "film-img">
    <%= image_tag film_list.film.film_library.image_url%>
  </div>
  <div class="film-content">
    <h3 class="m-0">
      <%= film_list.film.film_library.title %>
    </h3>
    <p class="m-0">
      <%= film_list.film.film_library.release_date.first(4) %>
    </p>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-transparent-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">
      ADD NOTE
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content list-modal-content">
          <div class="modal-header list-modal-header">
            <h1 class="modal-title list-modal-title fs-5" id="exampleModalLabel">
              EDIT LIST ENTRY
            </h1>
            <button type="button" class="btn-close list-modal-btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            insert form
          </div>
          <div class="modal-footer list-modal-footer">
            <button type="button" class="btn btn-grey" data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-green">Update</button>
          </div>
        </div>
      </div>
    </div>






  </div>
  <div class="film-delete">
    <i class="fa-solid fa-xmark" data-action="click->film-lists#deleteFilm" data-list-id="<%= film_list.id %>"></i>
  </div>
</div>
