<div class="film" data-film-lists-target="film" data-list-id="<%= film_list.id %>">
  <div class= "film-img">
    <% if film_list.film.film_library.image_url.last(4) == "inal" %>
      <%= image_tag "poster.jpeg", alt: "Poster for #{film_list.film.film_library.title}"%>
    <% else %>
      <%= image_tag film_list.film.film_library.image_url, , alt: "Poster for #{film_list.film.film_library.title}" %>
    <% end %>
  </div>
  <div class="film-content">
    <h3 class="m-0">
      <%= film_list.film.film_library.title %>
    </h3>
    <p class="m-0">
      <%= film_list.film.film_library.release_date.first(4) %>
    </p>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-transparent-sm" data-action="click->film-lists#addNote" data-film-lists-target="addNote" data-list-id="<%= film_list.id %>" data-film-title="<%= film_list.film.film_library.title %>" <%= "data-url=#{film_list.film.film_library.image_url}" if film_list.film.film_library.image_url.last(4) != "inal" %> <%= "data-url=../../../assets/poster.jpeg" if film_list.film.film_library.image_url.last(4) == "inal" %> data-bs-toggle="modal" data-bs-target="#exampleModal">
      ADD NOTE
    </button>


    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content list-modal-content">
          <div class="modal-header list-modal-header">
            <button type="button" class="btn-close list-modal-btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div data-film-lists-target="modal">

          </div>
        </div>
      </div>
    </div>

  </div>

  <% if @existing_film_library.present? && @existing_film_library.to_i == film_list.film.film_library.id %>
  <% else %>
    <div class="film-delete">
      <i class="fa-solid fa-xmark" data-action="click->film-lists#deleteFilm" data-list-id="<%= film_list.id %>"></i>
    </div>
  <% end %>

</div>
