      <div class="<%= request.original_url.last(5) == "rooms" ? "chatrooms-index" : "chatroom-index" %>">
        <% chatrooms.each do |chatroom| %>
          <% if chatroom.user1 == current_user %>
            <%= link_to chatroom_path(chatroom), class: "chatrooms-index-user" do %>
              <% if chatroom.user2.image.attached? %>
                <%= cl_image_tag chatroom.user2.image.key, class: "avatar-bordered", alt: "Profile image for #{chatroom.user2.username}" %>
              <% else %>
                <%= image_tag "avatar.jpg", class: "avatar-bordered", alt: "Profile image for #{chatroom.user2.username}" %>
              <% end %>
              <div>
                <p class="m-0">
                  <strong>
                    <%= chatroom.user2.username %>
                  </strong>
                </p>
                <% if chatroom.messages.present? %>
                  <p class="m-0">
                    <%= "You:" if chatroom.messages.last.user == current_user %>
                    <%= chatroom.messages.last.content.truncate(25) %>
                  </p>
                  <p class="chatrooms-index-timestamp">
                    <em>
                      <%= chatroom.messages.last.updated_at.strftime("%d %b %Y, %-I:%M %p") %>
                    </em>
                  </p>
                <% else %>
                  <p class="m-0">
                    -
                  </p>
                  <p class="chatrooms-index-timestamp">
                    <em>
                      No messages available
                    </em>
                  </p>
                <% end %>
              </div>
            <% end %>
          <% elsif chatroom.user2 == current_user %>
            <%= link_to chatroom_path(chatroom), class: "chatrooms-index-user" do %>
              <% if chatroom.user1.image.attached? %>
                <%= cl_image_tag chatroom.user1.image.key, class: "avatar-bordered", alt: "Profile image for #{chatroom.user1.username}" %>
              <% else %>
                <%= image_tag "avatar.jpg", class: "avatar-bordered", alt: "Profile image for #{chatroom.user1.username}" %>
              <% end %>
              <div>
                <p class="m-0">
                  <strong>
                    <%= chatroom.user2.username %>
                  </strong>
                </p>
                <% if chatroom.messages.present? %>
                  <p class="m-0">
                    <%= "You:" if chatroom.messages.last.user == current_user %>
                    <%= chatroom.messages.last.content.truncate(25) %>
                  </p>
                  <p class="chatrooms-index-timestamp">
                    <em>
                      <%= chatroom.messages.last.updated_at.strftime("%d %b %Y, %-I:%M %p") %>
                    </em>
                  </p>
                <% else %>
                  <p class="m-0">
                    -
                  </p>
                  <p class="chatrooms-index-timestamp">
                    <em>
                      No messages available
                    </em>
                  </p>
                <% end %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
