<div class="main-container">
  <div class="main-content">
    <h2>
      Forgot your password?
    </h2>

    <p>
      Enter your email below, and we’ll send you a message with your username and a link to reset your password.
    </p>

    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs devise-form">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
      </div>

      <div class="form-actions devise-btn">
        <%= f.button :submit, "Send request", class: "btn-green" %>
      </div>
    <% end %>

    <div class="devise-links">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
