<div class="navbar navbar-light navbar-lewagon">
  <div class="navbar-container row">
    <div class="navbar-logo col-lg-9 col-md-9 col-sm-12 p-0">
      <%= link_to root_path do %>
        <%= image_tag "logo.png", class: "logo" %>
      <% end %>
    </div>

    <div class="search-pill-wrapper col-lg-3 col-md-3 col-sm-12">
      <%= form_with method: :get, url: search_library_index_path, class: "d-flex search-pill" do %>
        <%= text_field_tag :film,
              params[:film],
              class: "form-control search-pill-text",
              placeholder: "Search"
          %>
        <%= button_tag type: "submit", class: "btn btn-outline-secondary search-pill-btn" do %>
          <i class="fa-solid fa-magnifying-glass"></i>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="navbar-menu">
    <div class="navbar-menu-wrapper">
      <% if user_signed_in? %>
      <div class="dropdown">
        <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <% if current_user.image.attached? %>
            <%= cl_image_tag current_user.image.key, class: "avatar-bordered-sm", alt: "user profile image" %>
          <% else %>
            <%= image_tag "avatar.jpg", class: "avatar-bordered-sm", alt: "user profile image" %>
          <% end %>
          <%= current_user.username.upcase %>
        </a>

        <ul class="dropdown-menu">
          <li><%= link_to "Profile", member_path(current_user), class: "dropdown-item"%></li>
          <li><%= link_to "Films", watched_films_path, class: "dropdown-item"%></li>
          <li><%= link_to "Watchlist", watchlist_films_path, class: "dropdown-item"%></li>
          <li><%= link_to "Lists", lists_path, class: "dropdown-item" %></li>
          <li><%= link_to "Likes", likes_films_path, class: "dropdown-item"%></li>
          <li><%= link_to "Reviews", reviews_path, class: "dropdown-item" %></li>
          <li></li>
        </ul>

      </div>
        <%= link_to "LATEST", "#", class: "nav-link" %>
        <%= link_to "MEMBERS", members_path, class: "nav-link" %>
        <%= link_to "SIGN OUT", destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-link" %>
      <% else %>
        <%= link_to "SIGN IN", new_user_session_path, class: "nav-link" %>
        <%= link_to "CREATE ACCOUNT", new_user_registration_path, class: "nav-link" %>
        <%= link_to "LATEST", "#", class: "nav-link" %>
        <%= link_to "MEMBERS", members_path, class: "nav-link" %>
      <% end %>
    </div>
  </div>
</div>
