<div>
  <%= film_library.title %>
  <%= film_library.description %>
  <%= film_library.directed_by %>
  <%= film_library.genres %>
  <%= film_library.runtime %>
  <%= film_library.release_date %>
</div>
