<div>
  <div class="film-info-backdrop">
    <% if film_library.backdrop_url.last(4) == "inal"%>
    <% else %>
      <%= image_tag film_library.backdrop_url, class: "film-backdrop" %>
    <% end %>
  </div>


  <div class="film-info-wrapper" data-controller="datepicker">

    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-5">
        <% if film_library.image_url.last(4) == "inal" %>
          <div class="film-info-img">
            <%= image_tag "poster.jpeg", class: "film-img" %>
          </div>
        <% else %>
          <div class="film-info-img">
            <%= image_tag film_library.image_url, class: "film-img" %>
          </div>
        <% end %>
      </div>

      <div class="col-lg-9 col-md-8 col-sm-7">
        <div class="film-info-content" data-controller="film-info-content" data-film-info-content-library-id-value="<%= film_library.id %>">

          <div class="row">
            <div class="col-12">
              <h2>
                <%= film_library.title %>
              </h2>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-7 col-md-12 mb-4">
              <div class="subheaders">
                <h4>
                  <%= film_library.release_date.first(4) %>
                </h4>

                <% if film_library.directed_by.count == 1 %>
                  <h4>
                    Directed by <%= film_library.directed_by.join %>
                  </h4>
                <% elsif film_library.directed_by.count > 1 %>
                  <h4>
                    Directed by <%= film_library.directed_by.join(", ") %>
                  </h4>
                <% end %>
              </div>

              <div class="film-info-description">
                <p>
                  <%= film_library.description %>
                </p>
              </div>

              <div class="film-info-tabs-wrapper">
                <div class="film-info-tabs">
                  <div data-action="click->film-info-content#select" data-film-info-content-target="tab" data-tab="cast" class="film-info-tab active">
                    <h6>
                      CAST
                    </h6>
                  </div>
                  <div data-action="click->film-info-content#select" data-film-info-content-target="tab" data-tab="genre" class="film-info-tab">
                    <h6>
                      GENRE
                    </h6>
                  </div>
                </div>

                <div data-film-info-content-target="content" data-content="cast" class="d-flex flex-wrap">
                  <% film_library.cast.first(20).each do |cast| %>
                    <div class="film-info-pill">
                      <%= cast %>
                    </div>
                  <% end %>
                  <div class="film-info-pill">
                    ...and more
                  </div>
                </div>

                <div data-film-info-content-target="content" data-content="genre" class="d-none d-flex flex-wrap">
                  <% film_library.genres.each do |genre| %>
                    <div class="film-info-pill">
                      <%= genre %>
                    </div>
                  <% end %>
                </div>
              </div>

              <p class="m-0">
                Runtime: <%= film_library.runtime %> mins
              </p>
            </div>

            <div class="col-lg-5 col-md-12">
              <% if user_signed_in? %>
                <div class="film-info-card">
                  <div class="film-info-card-content py-3">
                    <div class="row">
                      <% film = Film.find_by(film_library_id: film_library.id, user_id: current_user) %>

                      <div data-action="click->film-info-content#tracker" class="film-info-tracker col-4 d-flex flex-column align-items-center justify-content-center">
                        <% if film.present? && film.watched %>
                          <i class="fa-regular fa-eye d-none" data-film-info-content-target="icon" data-icon="watch" data-status="inactive"></i>
                          <p class="m-0 p-0 d-none" data-film-info-content-target="icon" data-icon="watch" data-status="inactive">
                            Watch
                          </p>
                          <i class="fa-solid fa-eye" data-film-info-content-target="icon" data-icon="watch" style="color: #00E054;" data-status="active"></i>
                          <p class="m-0 p-0" data-film-info-content-target="icon" data-icon="watch" data-status="active">
                            Watched
                          </p>
                        <% else %>
                          <i class="fa-regular fa-eye" data-film-info-content-target="icon" data-icon="watch" data-status="inactive"></i>
                          <p class="m-0 p-0" data-film-info-content-target="icon" data-icon="watch" data-status="inactive">
                            Watch
                          </p>
                          <i class="fa-solid fa-eye d-none" data-film-info-content-target="icon" data-icon="watch" style="color: #00E054;" data-status="active"></i>
                          <p class="m-0 p-0 d-none" data-film-info-content-target="icon" data-icon="watch" data-status="active">
                            Watched
                          </p>
                        <% end %>
                      </div>

                      <div data-action="click->film-info-content#tracker" class="film-info-tracker col-4 d-flex flex-column align-items-center justify-content-center">
                        <% if film.present? && film.like %>
                          <i class="fa-regular fa-heart d-none" data-film-info-content-target="icon" data-icon="like"></i>
                          <p class="m-0 p-0 d-none" data-film-info-content-target="icon" data-icon="like">
                            Like
                          </p>
                          <i class="fa-solid fa-heart" data-film-info-content-target="icon" data-icon="like" style="color: #FF900F;"></i>
                          <p class="m-0 p-0" data-film-info-content-target="icon" data-icon="like">
                            Liked
                          </p>
                        <% else %>
                          <i class="fa-regular fa-heart" data-film-info-content-target="icon" data-icon="like"></i>
                          <p class="m-0 p-0" data-film-info-content-target="icon" data-icon="like">
                            Like
                          </p>
                          <i class="fa-solid fa-heart d-none" data-film-info-content-target="icon" data-icon="like" style="color: #FF900F;"></i>
                          <p class="m-0 p-0 d-none" data-film-info-content-target="icon" data-icon="like">
                            Liked
                          </p>
                        <% end %>
                      </div>

                      <div data-action="click->film-info-content#tracker" class="film-info-tracker col-4 d-flex flex-column align-items-center justify-content-center">
                        <% if film.present? && film.watchlist %>
                          <i class="fa-regular fa-clock d-none" data-film-info-content-target="icon" data-icon="watchlist" data-status="inactive"></i>
                          <p class="m-0 p-0 d-none" data-film-info-content-target="icon" data-icon="watchlist" data-status="inactive">
                            Watchlist
                          </p>
                          <i class="fa-solid fa-clock" data-film-info-content-target="icon" data-icon="watchlist" style="color: #40BCF4;" data-status="active"></i>
                          <p class="m-0 p-0" data-film-info-content-target="icon" data-icon="watchlist" data-status="active">
                            Watchlist
                          </p>
                        <% else %>
                          <i class="fa-regular fa-clock" data-film-info-content-target="icon" data-icon="watchlist"" data-status="inactive"></i>
                          <p class="m-0 p-0" data-film-info-content-target="icon" data-icon="watchlist"" data-status="inactive">
                            Watchlist
                          </p>
                          <i class="fa-solid fa-clock d-none" data-film-info-content-target="icon" data-icon="watchlist" style="color: #40BCF4;" data-status="active"></i>
                          <p class="m-0 p-0 d-none" data-film-info-content-target="icon" data-icon="watchlist" data-status="active">
                            Watchlist
                          </p>
                        <% end %>
                      </div>
                    </div>
                  </div>

                  <div class="film-info-card-content">
                    <% if film.present? && film.rating >= 1 %>
                      <p class="m-0 p-0">
                        Rate
                      </p>
                      <div class="film-info-rating">
                        <div class="film-info-rating-stars">
                          <% case film.rating %>
                          <% when 1 %>
                            <i class="fa-solid fa-xmark" data-action="click->film-info-content#rate" data-film-info-content-target="rating" data-icon="rating" data-rating="0"></i>
                            <i class="fa-solid fa-star starred" data-action="click->film-info-content#rate" data-film-info-content-target="rating" data-icon="rating" data-rating="1"></i>
                            <i class="fa-solid fa-star" data-action="click->film-info-content#rate" data-film-info-content-target="rating" data-icon="rating" data-rating="2"></i>
                            <i class="fa-solid fa-star" data-action="click->film-info-content#rate" data-film-info-content-target="rating" data-icon="rating" data-rating="3"></i>
                            <i class="fa-solid fa-star" data-action="click->film-info-content#rate" data-film-info-content-target="rating" data-icon="rating" data-rating="4"></i>
                            <i class="fa-solid fa-star" data-action="click->film-info-content#rate" data-film-info-content-target="rating" data-icon="rating" data-rating="5"></i>
                          <% when 2 %>
                            <i class="fa-solid fa-xmark" data-action="click->film-info-content#rate" data-film-info-content-target="rating" data-icon="rating" data-rating="0"></i>
                            <i class="fa-solid fa-star starred" data-action="click->film-info-content#rate" data-film-info-content-target="rating" data-icon="rating" data-rating="1"></i>
                            <i class="fa-solid fa-star starred" data-action="click->film-info-content#rate" data-film-info-content-target="rating" data-icon="rating" data-rating="2"></i>
                            <i class="fa-solid fa-star" data-action="click->film-info-content#rate" data-film-info-content-target="rating" data-icon="rating" data-rating="3"></i>
                            <i class="fa-solid fa-star" data-action="click->film-info-content#rate" data-film-info-content-target="rating" data-icon="rating" data-rating="4"></i>
                            <i class="fa-solid fa-star" data-action="click->film-info-content#rate" data-film-info-content-target="rating" data-icon="rating" data-rating="5"></i>
                          <% when 3 %>
                            <i class="fa-solid fa-xmark" data-action="click->film-info-content#rate" data-film-info-content-target="rating" data-icon="rating" data-rating="0"></i>
                            <i class="fa-solid fa-star starred" data-action="click->film-info-content#rate" data-film-info-content-target="rating" data-icon="rating" data-rating="1"></i>
                            <i class="fa-solid fa-star starred" data-action="click->film-info-content#rate" data-film-info-content-target="rating" data-icon="rating" data-rating="2"></i>
                            <i class="fa-solid fa-star starred" data-action="click->film-info-content#rate" data-film-info-content-target="rating" data-icon="rating" data-rating="3"></i>
                            <i class="fa-solid fa-star" data-action="click->film-info-content#rate" data-film-info-content-target="rating" data-icon="rating" data-rating="4"></i>
                            <i class="fa-solid fa-star" data-action="click->film-info-content#rate" data-film-info-content-target="rating" data-icon="rating" data-rating="5"></i>
                          <% when 4 %>
                            <i class="fa-solid fa-xmark" data-action="click->film-info-content#rate" data-film-info-content-target="rating" data-icon="rating" data-rating="0"></i>
                            <i class="fa-solid fa-star starred" data-action="click->film-info-content#rate" data-film-info-content-target="rating" data-icon="rating" data-rating="1"></i>
                            <i class="fa-solid fa-star starred" data-action="click->film-info-content#rate" data-film-info-content-target="rating" data-icon="rating" data-rating="2"></i>
                            <i class="fa-solid fa-star starred" data-action="click->film-info-content#rate" data-film-info-content-target="rating" data-icon="rating" data-rating="3"></i>
                            <i class="fa-solid fa-star starred" data-action="click->film-info-content#rate" data-film-info-content-target="rating" data-icon="rating" data-rating="4"></i>
                            <i class="fa-solid fa-star" data-action="click->film-info-content#rate" data-film-info-content-target="rating" data-icon="rating" data-rating="5"></i>
                          <% when 5 %>
                            <i class="fa-solid fa-xmark" data-action="click->film-info-content#rate" data-film-info-content-target="rating" data-icon="rating" data-rating="0"></i>
                            <i class="fa-solid fa-star starred" data-action="click->film-info-content#rate" data-film-info-content-target="rating" data-icon="rating" data-rating="1"></i>
                            <i class="fa-solid fa-star starred" data-action="click->film-info-content#rate" data-film-info-content-target="rating" data-icon="rating" data-rating="2"></i>
                            <i class="fa-solid fa-star starred" data-action="click->film-info-content#rate" data-film-info-content-target="rating" data-icon="rating" data-rating="3"></i>
                            <i class="fa-solid fa-star starred" data-action="click->film-info-content#rate" data-film-info-content-target="rating" data-icon="rating" data-rating="4"></i>
                            <i class="fa-solid fa-star starred" data-action="click->film-info-content#rate" data-film-info-content-target="rating" data-icon="rating" data-rating="5"></i>
                          <% end %>
                        </div>
                      </div>
                    <% else %>
                      <p class="m-0 p-0">
                        Rate
                      </p>
                      <div class="film-info-rating">
                        <div class="film-info-rating-stars">
                          <i class="fa-solid fa-xmark" data-action="click->film-info-content#rate" data-film-info-content-target="rating" data-icon="rating" data-rating="0"></i>
                          <i class="fa-solid fa-star" data-action="click->film-info-content#rate" data-film-info-content-target="rating" data-icon="rating" data-rating="1"></i>
                          <i class="fa-solid fa-star" data-action="click->film-info-content#rate" data-film-info-content-target="rating" data-icon="rating" data-rating="2"></i>
                          <i class="fa-solid fa-star" data-action="click->film-info-content#rate" data-film-info-content-target="rating" data-icon="rating" data-rating="3"></i>
                          <i class="fa-solid fa-star" data-action="click->film-info-content#rate" data-film-info-content-target="rating" data-icon="rating" data-rating="4"></i>
                          <i class="fa-solid fa-star" data-action="click->film-info-content#rate" data-film-info-content-target="rating" data-icon="rating" data-rating="5"></i>
                        </div>
                      </div>
                    <% end %>
                  </div>

                  <div class="film-info-card-content">
                    <% if film.present? && film.reviews.present? %>
                      <button type="button" class="btn btn-none" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                        Review again...
                      </button>
                    <% else %>
                      <button type="button" class="btn btn-none" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                        Submit a review...
                      </button>
                    <% end %>

                    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg">
                        <div class="modal-content review-modal-content">
                          <div class="modal-header review-modal-header">
                            <button type="button" class="btn-close review-modal-btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <div class="row">
                              <div class="col-md-3 ps-md-4 col-sm-4 ps-sm-3">
                                <div class="review-modal-img">
                                  <% if film_library.image_url.last(4) == 'inal' %>
                                    <%= image_tag "poster.jpeg" %>
                                  <% else %>
                                    <%= image_tag film_library.image_url %>
                                  <% end %>
                                </div>
                              </div>
                              <div class="col-md-9 px-md-4 col-sm-8 pe-sm-3">
                                <div class="review-modal-subtitle">
                                  <p class="m-0">
                                    LAST WATCHED ON
                                  </p>
                                  <input class="form-control form-control-sm review-modal-pickr" data-datepicker-target="newReview" data-film-info-target="reviewDate" type="text" placeholder="Select date" aria-label=".form-control-sm example">
                                </div>
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Review of <%= film_library.title %> </h1>
                                <div class="mb-3">
                                  <textarea class="form-control review-modal-input" id="exampleFormControlTextarea1" data-film-info-target="review" placeholder="Add a review..." rows="4"></textarea>
                                </div>
                                <div class="review-modal-rating">
                                  <p class="m-0">
                                    Rating:
                                  </p>
                                  <% if film.present? && film.rating >= 1 %>
                                    <div class="review-rating">
                                      <div class="review-rating-stars">
                                        <% case film.rating %>
                                        <% when 1 %>
                                          <i class="fa-solid fa-star starred" data-action="click->film-info#rate" data-film-info-target="rating" data-rating="1"></i>
                                          <i class="fa-solid fa-star" data-action="click->film-info#rate" data-film-info-target="rating" data-rating="2"></i>
                                          <i class="fa-solid fa-star" data-action="click->film-info#rate" data-film-info-target="rating" data-rating="3"></i>
                                          <i class="fa-solid fa-star" data-action="click->film-info#rate" data-film-info-target="rating" data-rating="4"></i>
                                          <i class="fa-solid fa-star" data-action="click->film-info#rate" data-film-info-target="rating" data-rating="5"></i>
                                        <% when 2 %>
                                          <i class="fa-solid fa-star starred" data-action="click->film-info#addRating" data-film-info-target="rating" data-rating="1"></i>
                                          <i class="fa-solid fa-star starred" data-action="click->film-info#addRating" data-film-info-target="rating" data-rating="2"></i>
                                          <i class="fa-solid fa-star" data-action="click->film-info#addRating" data-film-info-target="rating" data-rating="3"></i>
                                          <i class="fa-solid fa-star" data-action="click->film-info#addRating" data-film-info-target="rating" data-rating="4"></i>
                                          <i class="fa-solid fa-star" data-action="click->film-info#addRating" data-film-info-target="rating" data-rating="5"></i>
                                        <% when 3 %>
                                          <i class="fa-solid fa-star starred" data-action="click->film-info#addRating" data-film-info-target="rating" data-rating="1"></i>
                                          <i class="fa-solid fa-star starred" data-action="click->film-info#addRating" data-film-info-target="rating" data-rating="2"></i>
                                          <i class="fa-solid fa-star starred" data-action="click->film-info#addRating" data-film-info-target="rating" data-rating="3"></i>
                                          <i class="fa-solid fa-star" data-action="click->film-info#addRating" data-film-info-target="rating" data-rating="4"></i>
                                          <i class="fa-solid fa-star" data-action="click->film-info#addRating" data-film-info-target="rating" data-rating="5"></i>
                                        <% when 4 %>
                                          <i class="fa-solid fa-star starred" data-action="click->film-info#addRating" data-film-info-target="rating" data-rating="1"></i>
                                          <i class="fa-solid fa-star starred" data-action="click->film-info#addRating" data-film-info-target="rating" data-rating="2"></i>
                                          <i class="fa-solid fa-star starred" data-action="click->film-info#addRating" data-film-info-target="rating" data-rating="3"></i>
                                          <i class="fa-solid fa-star starred" data-action="click->film-info#addRating" data-film-info-target="rating" data-rating="4"></i>
                                          <i class="fa-solid fa-star" data-action="click->film-info#addRating" data-film-info-target="rating" data-rating="5"></i>
                                        <% when 5 %>
                                          <i class="fa-solid fa-star starred" data-action="click->film-info#addRating" data-film-info-target="rating" data-rating="1"></i>
                                          <i class="fa-solid fa-star starred" data-action="click->film-info#addRating" data-film-info-target="rating" data-rating="2"></i>
                                          <i class="fa-solid fa-star starred" data-action="click->film-info#addRating" data-film-info-target="rating" data-rating="3"></i>
                                          <i class="fa-solid fa-star starred" data-action="click->film-info#addRating" data-film-info-target="rating" data-rating="4"></i>
                                          <i class="fa-solid fa-star starred" data-action="click->film-info#addRating" data-film-info-target="rating" data-rating="5"></i>
                                        <% end %>
                                      </div>
                                    </div>
                                  <% else %>
                                    <div class="review-rating">
                                      <div class="review-rating-stars">
                                        <i class="fa-solid fa-star" data-action="click->film-info#addRating" data-film-info-target="rating" data-rating="1"></i>
                                        <i class="fa-solid fa-star" data-action="click->film-info#addRating" data-film-info-target="rating" data-rating="2"></i>
                                        <i class="fa-solid fa-star" data-action="click->film-info#addRating" data-film-info-target="rating" data-rating="3"></i>
                                        <i class="fa-solid fa-star" data-action="click->film-info#addRating" data-film-info-target="rating" data-rating="4"></i>
                                        <i class="fa-solid fa-star" data-action="click->film-info#addRating" data-film-info-target="rating" data-rating="5"></i>
                                      </div>
                                    </div>
                                  <% end %>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="modal-footer review-modal-footer">
                            <button type="button" class="btn btn-green" data-action="click->film-info#addReview">Submit</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="film-info-card-content">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-none" data-bs-toggle="modal" data-bs-target="#exampleModal">
                      Add to lists...
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
                        <div class="modal-content list-modal-content">
                          <div class="modal-header list-modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">
                              Add '<%= film_library.title %>' to lists
                            </h1>
                            <button type="button" class="btn-close list-modal-btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>

                          <div class="modal-body list-modal-body">
                            <div class="form">
                              <%= simple_form_for :new_list, method: :get, url: new_list_path  do |f| %>
                                <%= f.hidden_field :film_library_id, value: film_library.id %>
                                <%= f.submit '+ New list...', class: "btn btn-none" %>
                              <% end %>
                            </div>

                            <div>
                              <% @lists = List.where(user_id: current_user) %>
                              <% @already_added_to_list = [] %>
                              <% @input_id = 1 %>

                              <% @lists.each do |list| %>
                                <% @list_films = list.films %>
                                <% @input_id += 1 %>

                                <% if film.present? %>
                                  <% @list_films.each do |listfilm| %>
                                    <% if listfilm.id == film.id %>
                                      <% @already_added_to_list << list.name %>
                                    <% end %>
                                  <% end %>

                                  <% if @already_added_to_list.include?(list.name) %>
                                    <div class="form-check form-switch">
                                      <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedDisabled" checked disabled>
                                      <label class="form-check-label" for="flexCheckCheckedDisabled">
                                        <%= list.name %>
                                      </label>
                                    </div>
                                  <% else %>
                                    <div class="form-check form-switch">
                                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault<%= @input_id %>" data-film-info-target="list" data-list-id="<%= list.id %>">
                                      <label class="form-check-label" for="flexCheckDefault<%= @input_id %>">
                                        <%= list.name %>
                                      </label>
                                    </div>
                                  <% end %>
                                <% else %>
                                    <div class="form-check form-switch">
                                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault<%= @input_id %>" data-film-info-target="list" data-list-id="<%= list.id %>">
                                      <label class="form-check-label" for="flexCheckDefault<%= @input_id %>">
                                        <%= list.name %>
                                      </label>
                                    </div>
                                <% end %>

                              <% end %>
                            </div>
                          </div>

                          <div class="modal-footer list-modal-footer">
                            <button type="button" class="btn btn-green" data-action="click->film-info#addToList">Add</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <% if film.present? && film.lists.count >= 1 %>
                  <div class="film-info-list">
                    <div class="header">
                      <% if film.lists.count == 1 %>
                        <h6>
                          LIST
                        </h6>
                      <% else %>
                        <h6>
                          LISTS
                        </h6>
                      <% end %>
                    </div>
                    <div class="d-flex flex-wrap">
                      <% film.lists.each do |list| %>
                        <div class="film-info-pill">
                          <%= link_to list.name, list_path(list) %>
                        </div>
                      <% end %>
                    </div>
                  </div>
                <% else %>
                <% end %>

              <% else %>
                <div class="film-info-card">
                  <div class="film-info-card-content py-3">
                    <div class="row">
                      <a href="<%= new_library_film_path(film_library) %>" class="film-info-tracker col-4 d-flex flex-column align-items-center justify-content-center">
                          <i class="fa-regular fa-eye" data-film-info-content-target="icon" data-icon="watch"></i>
                          <p class="m-0 p-0" data-film-info-content-target="icon" data-icon="watch">
                            Watch
                          </p>
                      </a>

                      <a href="<%= new_library_film_path(film_library) %>" class="film-info-tracker col-4 d-flex flex-column align-items-center justify-content-center">
                        <i class="fa-regular fa-heart" data-film-info-content-target="icon" data-icon="like"></i>
                        <p class="m-0 p-0" data-film-info-content-target="icon" data-icon="like">
                          Like
                        </p>
                      </a>

                      <a href="<%= new_library_film_path(film_library) %>" class="film-info-tracker col-4 d-flex flex-column align-items-center justify-content-center">
                        <i class="fa-regular fa-clock" data-film-info-content-target="icon" data-icon="watchlist"></i>
                        <p class="m-0 p-0" data-film-info-content-target="icon" data-icon="watchlist">
                          Watchlist
                        </p>
                      </a>
                    </div>
                  </div>

                  <div class="film-info-card-content">
                    <p class="m-0 p-0">
                      Rate
                    </p>
                    <div class="film-info-rating">
                      <div class="film-info-rating-stars">
                        <a href="<%= new_library_film_path(film_library) %>">
                          <i class="fa-solid fa-xmark d-none" data-action="click->film-info-content#rate" data-film-info-content-target="rating" data-icon="rating" data-rating="0"></i>
                          <i class="fa-solid fa-star" data-action="click->film-info-content#rate" data-film-info-content-target="rating" data-icon="rating" data-rating="1"></i>
                          <i class="fa-solid fa-star" data-action="click->film-info-content#rate" data-film-info-content-target="rating" data-icon="rating" data-rating="2"></i>
                          <i class="fa-solid fa-star" data-action="click->film-info-content#rate" data-film-info-content-target="rating" data-icon="rating" data-rating="3"></i>
                          <i class="fa-solid fa-star" data-action="click->film-info-content#rate" data-film-info-content-target="rating" data-icon="rating" data-rating="4"></i>
                          <i class="fa-solid fa-star" data-action="click->film-info-content#rate" data-film-info-content-target="rating" data-icon="rating" data-rating="5"></i>
                        </a>
                      </div>
                    </div>
                  </div>

                  <div class="film-info-card-content">
                    <a href="<%= new_film_review_path %>">
                      Submit a review...
                    </a>
                  </div>

                  <div class="film-info-card-content">
                    <a href="<%= new_list_path %>">
                      Add to lists...
                    </a>
                  </div>
                </div>
              <% end %>
            </div>
          </div>

          <% if film.present? && film.reviews.present? %>
            <div class="film-reviews-container row">
              <div class="col-lg-12">
                <% if film.reviews.count == 1 %>
                  <h6>
                    YOUR REVIEW
                  </h6>
                <% else %>
                  <h6>
                    YOUR REVIEWS
                  </h6>
                <% end %>
                  <% @modal_number = 2 %>
                  <% film.reviews.each do |review| %>
                    <% @modal_number += 1 %>
                    <div class="film-reviews-content">
                      <div class="film-reviews-content-left">
                        <% if current_user.image.attached? %>
                          <%= cl_image_tag current_user.image.key, class: "avatar-bordered", alt: "user profile image" %>
                        <% else %>
                          <%= image_tag "avatar.jpg", class: "avatar-bordered", alt: "user profile image" %>
                        <% end %>
                      </div>

                      <div class="film-reviews-content-right">
                        <div class="d-flex justify-content-between">
                          <div>
                            <p class="m-0">
                              Review by <strong><%= current_user.username %></strong>, <%= review.date.strftime("%d %b %Y") %>
                            </p>
                            <div class="d-flex mt-1">
                              <% case review.rating %>
                              <% when 1 %>
                                <i class="fa-solid fa-star starred" data-rating="1"></i>
                                <i class="fa-solid fa-star" data-rating="2"></i>
                                <i class="fa-solid fa-star" data-rating="3"></i>
                                <i class="fa-solid fa-star" data-rating="4"></i>
                                <i class="fa-solid fa-star" data-rating="5"></i>
                              <% when 2 %>
                                <i class="fa-solid fa-star starred" data-rating="1"></i>
                                <i class="fa-solid fa-star starred" data-rating="2"></i>
                                <i class="fa-solid fa-star" data-rating="3"></i>
                                <i class="fa-solid fa-star" data-rating="4"></i>
                                <i class="fa-solid fa-star" data-rating="5"></i>
                              <% when 3 %>
                                <i class="fa-solid fa-star starred" data-rating="1"></i>
                                <i class="fa-solid fa-star starred" data-rating="2"></i>
                                <i class="fa-solid fa-star starred" data-rating="3"></i>
                                <i class="fa-solid fa-star" data-rating="4"></i>
                                <i class="fa-solid fa-star" data-rating="5"></i>
                              <% when 4 %>
                                <i class="fa-solid fa-star starred" data-rating="1"></i>
                                <i class="fa-solid fa-star starred" data-rating="2"></i>
                                <i class="fa-solid fa-star starred" data-rating="3"></i>
                                <i class="fa-solid fa-star starred" data-rating="4"></i>
                                <i class="fa-solid fa-star" data-rating="5"></i>
                              <% when 5 %>
                                <i class="fa-solid fa-star starred" data-rating="1"></i>
                                <i class="fa-solid fa-star starred" data-rating="2"></i>
                                <i class="fa-solid fa-star starred" data-rating="3"></i>
                                <i class="fa-solid fa-star starred" data-rating="4"></i>
                                <i class="fa-solid fa-star starred" data-rating="5"></i>
                              <% end %>
                            </div>
                          </div>

                          <div class="film-reviews-actions">
                            <i class="fa-solid fa-pencil" data-bs-toggle="modal" data-bs-target="#exampleModal<%= @modal_number %>"></i>

                            <%= link_to review_path(review), data: {turbo_method: :delete}, class: "delete-list" do %>
                              <i class="fa-regular fa-trash-can"></i>
                            <% end %>

                            <div class="modal fade" id="exampleModal<%= @modal_number %>" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg">
                                <div class="modal-content review-modal-content">
                                  <div class="modal-header review-modal-header">
                                  <a href="<%= library_path(film_library) %>" class="btn-close review-modal-btn-close" aria-label="Close"></a>
                                  </div>
                                  <div class="modal-body">
                                    <div class="row">
                                      <div class="col-md-3 ps-md-4 col-sm-4 ps-sm-3">
                                        <div class="review-modal-img">
                                          <% if review.film_library.image_url.last(4) == 'inal' %>
                                            <%= image_tag "poster.jpeg" %>
                                          <% else %>
                                            <%= image_tag review.film_library.image_url %>
                                          <% end %>
                                        </div>
                                      </div>
                                      <div class="col-md-9 px-md-4 col-sm-8 pe-sm-3">
                                        <div class="review-modal-subtitle">
                                          <p class="m-0">
                                            LAST WATCHED ON
                                          </p>
                                          <input class="form-control form-control-sm review-modal-pickr" data-datepicker-target="editReview" data-film-info-target="updatedReviewDate" data-review-id="<%= review.id %>" data-date="<%= review.date %>" type="text" placeholder="Select date" aria-label=".form-control-sm example">
                                        </div>
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Review of <%= review.film_library.title %> </h1>
                                        <div class="mb-3">
                                          <textarea class="form-control review-modal-input" id="exampleFormControlTextarea1" data-film-info-target="updatedReview" data-review-id="<%= review.id %>" rows="4"><%= review.review %></textarea>
                                        </div>
                                        <div class="review-modal-rating">
                                          <p class="m-0">
                                            Rating:
                                          </p>
                                          <div class="review-rating">
                                            <div class="review-rating-stars">
                                              <% case review.rating %>
                                              <% when 1 %>
                                                <i class="fa-solid fa-star starred" data-action="click->film-info#updateRating" data-film-info-target="updatedRating" data-review-id="<%= review.id %>" data-rating="1"></i>
                                                <i class="fa-solid fa-star" data-action="click->film-info#updateRating" data-film-info-target="updatedRating" data-review-id="<%= review.id %>" data-rating="2"></i>
                                                <i class="fa-solid fa-star" data-action="click->film-info#updateRating" data-film-info-target="updatedRating" data-review-id="<%= review.id %>" data-rating="3"></i>
                                                <i class="fa-solid fa-star" data-action="click->film-info#updateRating" data-film-info-target="updatedRating" data-review-id="<%= review.id %>" data-rating="4"></i>
                                                <i class="fa-solid fa-star" data-action="click->film-info#updateRating" data-film-info-target="updatedRating" data-review-id="<%= review.id %>" data-rating="5"></i>
                                              <% when 2 %>
                                                <i class="fa-solid fa-star starred" data-action="click->film-info#updateRating" data-film-info-target="updatedRating" data-review-id="<%= review.id %>" data-rating="1"></i>
                                                <i class="fa-solid fa-star starred" data-action="click->film-info#updateRating" data-film-info-target="updatedRating" data-review-id="<%= review.id %>" data-rating="2"></i>
                                                <i class="fa-solid fa-star" data-action="click->film-info#updateRating" data-film-info-target="updatedRating" data-review-id="<%= review.id %>" data-rating="3"></i>
                                                <i class="fa-solid fa-star" data-action="click->film-info#updateRating" data-film-info-target="updatedRating" data-review-id="<%= review.id %>" data-rating="4"></i>
                                                <i class="fa-solid fa-star" data-action="click->film-info#updateRating" data-film-info-target="updatedRating" data-review-id="<%= review.id %>" data-rating="5"></i>
                                              <% when 3 %>
                                                <i class="fa-solid fa-star starred" data-action="click->film-info#updateRating" data-film-info-target="updatedRating" data-review-id="<%= review.id %>" data-rating="1"></i>
                                                <i class="fa-solid fa-star starred" data-action="click->film-info#updateRating" data-film-info-target="updatedRating" data-review-id="<%= review.id %>" data-rating="2"></i>
                                                <i class="fa-solid fa-star starred" data-action="click->film-info#updateRating" data-film-info-target="updatedRating" data-review-id="<%= review.id %>" data-rating="3"></i>
                                                <i class="fa-solid fa-star" data-action="click->film-info#updateRating" data-film-info-target="updatedRating" data-review-id="<%= review.id %>" data-rating="4"></i>
                                                <i class="fa-solid fa-star" data-action="click->film-info#updateRating" data-film-info-target="updatedRating" data-review-id="<%= review.id %>" data-rating="5"></i>
                                              <% when 4 %>
                                                <i class="fa-solid fa-star starred" data-action="click->film-info#updateRating" data-film-info-target="updatedRating" data-review-id="<%= review.id %>" data-rating="1"></i>
                                                <i class="fa-solid fa-star starred" data-action="click->film-info#updateRating" data-film-info-target="updatedRating" data-review-id="<%= review.id %>" data-rating="2"></i>
                                                <i class="fa-solid fa-star starred" data-action="click->film-info#updateRating" data-film-info-target="updatedRating" data-review-id="<%= review.id %>" data-rating="3"></i>
                                                <i class="fa-solid fa-star starred" data-action="click->film-info#updateRating" data-film-info-target="updatedRating" data-review-id="<%= review.id %>" data-rating="4"></i>
                                                <i class="fa-solid fa-star" data-action="click->film-info#updateRating" data-film-info-target="updatedRating" data-review-id="<%= review.id %>" data-rating="5"></i>
                                              <% when 5 %>
                                                <i class="fa-solid fa-star starred" data-action="click->film-info#updateRating" data-film-info-target="updatedRating" data-review-id="<%= review.id %>" data-rating="1"></i>
                                                <i class="fa-solid fa-star starred" data-action="click->film-info#updateRating" data-film-info-target="updatedRating" data-review-id="<%= review.id %>" data-rating="2"></i>
                                                <i class="fa-solid fa-star starred" data-action="click->film-info#updateRating" data-film-info-target="updatedRating" data-review-id="<%= review.id %>" data-rating="3"></i>
                                                <i class="fa-solid fa-star starred" data-action="click->film-info#updateRating" data-film-info-target="updatedRating" data-review-id="<%= review.id %>" data-rating="4"></i>
                                                <i class="fa-solid fa-star starred" data-action="click->film-info#updateRating" data-film-info-target="updatedRating" data-review-id="<%= review.id %>" data-rating="5"></i>
                                              <% end %>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="modal-footer review-modal-footer">
                                    <button type="button" class="btn btn-green" data-action="click->film-info#updateReview" data-film-id="<%= review.film.id %>" data-review-id="<%= review.id %>">Update</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <p class="mt-3">
                          <%= review.review %>
                        </p>
                      </div>

                    </div>
                  <% end %>
              </div>
            </div>
          <% else %>
          <% end %>

          <div class="film-reviews-container row">
            <div class="col-lg-12">
              <h6>
                RECENT REVIEWS
              </h6>
              <% @reviews = film_library.reviews.where.not(user: current_user) %>
                <% if @reviews.present? %>
                  <% @reviews.each do |review| %>
                    <div class="film-reviews-content">
                      <div class="film-reviews-content-left">
                        <%= link_to member_path(review.user) do %>
                          <% if review.user.image.attached? %>
                            <%= cl_image_tag review.user.image.key, class: "avatar-bordered", alt: "user profile image" %>
                          <% else %>
                            <%= image_tag "avatar.jpg", class: "avatar-bordered", alt: "user profile image" %>
                          <% end %>
                        <% end %>
                      </div>
                      <div class="film-reviews-content-right">
                        <%= link_to member_path(review.user), class: "username" do %>
                          <p class="m-0">
                            Review by <strong><%= review.user.username %></strong>, <%= review.date.strftime("%d %b %Y") %>
                          </p>
                        <% end %>
                        <div class="d-flex mt-1">
                          <% case review.rating %>
                          <% when 1 %>
                            <i class="fa-solid fa-star starred" data-rating="1"></i>
                            <i class="fa-solid fa-star" data-rating="2"></i>
                            <i class="fa-solid fa-star" data-rating="3"></i>
                            <i class="fa-solid fa-star" data-rating="4"></i>
                            <i class="fa-solid fa-star" data-rating="5"></i>
                          <% when 2 %>
                            <i class="fa-solid fa-star starred" data-rating="1"></i>
                            <i class="fa-solid fa-star starred" data-rating="2"></i>
                            <i class="fa-solid fa-star" data-rating="3"></i>
                            <i class="fa-solid fa-star" data-rating="4"></i>
                            <i class="fa-solid fa-star" data-rating="5"></i>
                          <% when 3 %>
                            <i class="fa-solid fa-star starred" data-rating="1"></i>
                            <i class="fa-solid fa-star starred" data-rating="2"></i>
                            <i class="fa-solid fa-star starred" data-rating="3"></i>
                            <i class="fa-solid fa-star" data-rating="4"></i>
                            <i class="fa-solid fa-star" data-rating="5"></i>
                          <% when 4 %>
                            <i class="fa-solid fa-star starred" data-rating="1"></i>
                            <i class="fa-solid fa-star starred" data-rating="2"></i>
                            <i class="fa-solid fa-star starred" data-rating="3"></i>
                            <i class="fa-solid fa-star starred" data-rating="4"></i>
                            <i class="fa-solid fa-star" data-rating="5"></i>
                          <% when 5 %>
                            <i class="fa-solid fa-star starred" data-rating="1"></i>
                            <i class="fa-solid fa-star starred" data-rating="2"></i>
                            <i class="fa-solid fa-star starred" data-rating="3"></i>
                            <i class="fa-solid fa-star starred" data-rating="4"></i>
                            <i class="fa-solid fa-star starred" data-rating="5"></i>
                          <% end %>
                        </div>
                        <p class="mt-3">
                          <%= review.review %>
                        </p>
                      </div>
                    </div>
                  <% end %>
                <% else %>
                  <% if film.present? && film.reviews.present? %>
                    <p class="mt-3">
                      This film has no other reviews currently.
                    </p>
                  <% else %>
                    <p class="mt-3">
                      This film no reviews currently.
                    </p>
                  <% end %>
                <% end %>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>

</div>
