<div>
  <div class="srch-results-header">
    <% if results.count == 1%>
      FOUND <%= results.count %> FILM MATCHING <%= query.upcase %>
    <% else %>
      FOUND <%= results.count %> FILMS MATCHING <%= query.upcase %>
    <% end %>
  </div>

  <% results.each do | result |%>
    <div class="srch-results">

      <% if result[:poster_path].blank? %>
        <div class="srch-results-image">
          <%= image_tag "poster.jpeg" %>
        </div>
      <% else %>
        <div class="srch-results-image">
          <%= image_tag "https://image.tmdb.org/t/p/original#{result[:poster_path]}" %>
        </div>
      <% end %>

      <div class="srch-results-content">
        <h3>
          <%= link_to result[:original_title], library_path(FilmLibrary.find_by(tmdb_id: result[:id])) %>
        </h3>

        <h4>
          <%= result[:release_date].first(4) %>
        </h4>

        <p class="content-width">
          <%= result[:overview].truncate(150) %>
        </p>
      </div>
    </div>
  <% end %>

</div>
