<div class="main-container">
  <div class="main-content">
    <div class="homepage-tagline">
      <h4>
        What are you watching? Start a diary and tell your friends...
      </h4>
    </div>

    <div class="homepage-films">
      <% @film_library.sample(4).each do |filmlibrary| %>
        <div class="homepage-grid-item">
          <a href="<%= library_path(filmlibrary) %>">
            <% if filmlibrary.image_url.last(4) == "inal" %>
              <%= image_tag "poster.jpeg" %>
            <% else %>
              <%= image_tag filmlibrary.image_url %>
            <% end %>
          </a>
        </div>
      <% end %>
    </div>

    <div class="homepage-reviews-header">
      <p class="m-0">
        RECENTLY REVIEWED
      </p>
    </div>

    <div class="homepage-reviews">
      <% @recent_reviews = @reviews.order("updated_at DESC").uniq do |review| %>
        <% review.film_library_id %>
      <% end %>

      <% @recent_reviews.first(8).each do |review| %>
        <div class="homepage-grid-item">
          <a href="<%= library_path(review.film_library) %>">
            <% if review.film_library.image_url.last(4) == "inal" %>
              <%= image_tag "poster.jpeg" %>
            <% else %>
              <%= image_tag review.film_library.image_url %>
            <% end %>
          </a>
        </div>
      <% end %>
    </div>
  </div>
</div>
