<div class="main-container">
  <div class="main-content">
    <h2>
      Log in
    </h2>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs devise-form">

        <%= f.input :username,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "username" }%>
        <%= f.input :password,
                    required: false,
                    input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions devise-btn">
        <%= f.button :submit, "Log in", class: "btn-green"%>
      </div>
    <% end %>

    <div class="devise-links">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
