<div class="main-container">
  <div class="main-content">
    <div class="reviews-header">
      <h3>
        My reviews
      </h3>
    </div>

    <div class="reviews-content">
      <% @reviews.each do |review| %>
        <% if review == @reviews.first %>
          <div class="review-first">
        <% else %>
          <div class="review">
        <% end %>
          <%= link_to library_path(review.film_library), class: "review-film-img" do %>
            <% if review.film_library.image_url.last(4) == "inal" %>
                <%= image_tag "poster.jpeg" %>
            <% else %>
                <%= image_tag review.film_library.image_url %>
            <% end %>
            <div class="review-film-details">
              <div class="review-film-details-card">
                <% if review.film.watched %>
                  <i class="fa-solid fa-eye" style="color: #00E054;"></i>
                <% else %>
                  <i class="fa-regular fa-eye"></i>
                <% end %>

                <% if review.film.like %>
                  <i class="fa-solid fa-heart" style="color: #FF900F;"></i>
                <% else %>
                  <i class="fa-regular fa-heart"></i>
                <% end %>
              </div>
            </div>
          <% end %>

          <div class="review-content">
            <div class="review-content-header">
              <div class="review-content-title">
                <h3>
                  <%= link_to review.film_library.title, library_path(review.film_library) %>
                </h3>
              </div>

              <div class="review-actions">
                <%= link_to edit_film_review_path(review.film, review) do %>
                  <i class="fa-solid fa-pencil"></i>
                <% end %>

                <%= link_to review_path(review), data: {turbo_method: :delete}, class: "delete-list" do %>
                  <i class="fa-regular fa-trash-can"></i>
                <% end %>
              </div>
            </div>

            <div class="review-content-date">
              <h4>
                <%= review.film_library.release_date.first(4) %>
              </h4>
            </div>

            <div class="review-content-subheader">
              <div class="d-flex me-2">
                <% case review.rating %>
                <% when 1 %>
                  <i class="fa-solid fa-star starred" data-action="click->film-info#updateRating" data-film-info-target="updatedRating" data-rating="1"></i>
                  <i class="fa-solid fa-star" data-action="click->film-info#updateRating" data-film-info-target="updatedRating" data-rating="2"></i>
                  <i class="fa-solid fa-star" data-action="click->film-info#updateRating" data-film-info-target="updatedRating" data-rating="3"></i>
                  <i class="fa-solid fa-star" data-action="click->film-info#updateRating" data-film-info-target="updatedRating" data-rating="4"></i>
                  <i class="fa-solid fa-star" data-action="click->film-info#updateRating" data-film-info-target="updatedRating" data-rating="5"></i>
                <% when 2 %>
                  <i class="fa-solid fa-star starred" data-action="click->film-info#updateRating" data-film-info-target="updatedRating" data-rating="1"></i>
                  <i class="fa-solid fa-star starred" data-action="click->film-info#updateRating" data-film-info-target="updatedRating" data-rating="2"></i>
                  <i class="fa-solid fa-star" data-action="click->film-info#updateRating" data-film-info-target="updatedRating" data-rating="3"></i>
                  <i class="fa-solid fa-star" data-action="click->film-info#updateRating" data-film-info-target="updatedRating" data-rating="4"></i>
                  <i class="fa-solid fa-star" data-action="click->film-info#updateRating" data-film-info-target="updatedRating" data-rating="5"></i>
                <% when 3 %>
                  <i class="fa-solid fa-star starred" data-action="click->film-info#updateRating" data-film-info-target="updatedRating" data-rating="1"></i>
                  <i class="fa-solid fa-star starred" data-action="click->film-info#updateRating" data-film-info-target="updatedRating" data-rating="2"></i>
                  <i class="fa-solid fa-star starred" data-action="click->film-info#updateRating" data-film-info-target="updatedRating" data-rating="3"></i>
                  <i class="fa-solid fa-star" data-action="click->film-info#updateRating" data-film-info-target="updatedRating" data-rating="4"></i>
                  <i class="fa-solid fa-star" data-action="click->film-info#updateRating" data-film-info-target="updatedRating" data-rating="5"></i>
                <% when 4 %>
                  <i class="fa-solid fa-star starred" data-action="click->film-info#updateRating" data-film-info-target="updatedRating" data-rating="1"></i>
                  <i class="fa-solid fa-star starred" data-action="click->film-info#updateRating" data-film-info-target="updatedRating" data-rating="2"></i>
                  <i class="fa-solid fa-star starred" data-action="click->film-info#updateRating" data-film-info-target="updatedRating" data-rating="3"></i>
                  <i class="fa-solid fa-star starred" data-action="click->film-info#updateRating" data-film-info-target="updatedRating" data-rating="4"></i>
                  <i class="fa-solid fa-star" data-action="click->film-info#updateRating" data-film-info-target="updatedRating" data-rating="5"></i>
                <% when 5 %>
                  <i class="fa-solid fa-star starred" data-action="click->film-info#updateRating" data-film-info-target="updatedRating" data-rating="1"></i>
                  <i class="fa-solid fa-star starred" data-action="click->film-info#updateRating" data-film-info-target="updatedRating" data-rating="2"></i>
                  <i class="fa-solid fa-star starred" data-action="click->film-info#updateRating" data-film-info-target="updatedRating" data-rating="3"></i>
                  <i class="fa-solid fa-star starred" data-action="click->film-info#updateRating" data-film-info-target="updatedRating" data-rating="4"></i>
                  <i class="fa-solid fa-star starred" data-action="click->film-info#updateRating" data-film-info-target="updatedRating" data-rating="5"></i>
                <% end %>
              </div>

              <p class="m-0">
                Watched <%= review.date.strftime("%d %b %Y") %>
              </p>
            </div>

            <div class="content-width">
              <p>
                <%= review.review %>
              </p>
            </div>
          </div>

        </div>
      <% end %>
    </div>

  </div>
</div>
