<div class="main-container">
  <div class="main-content">

    <div class="user-profile-header">
      <div class="user-profile-avatar">
        <% if @user.image.attached? %>
          <%= cl_image_tag @user.image.key, class: "avatar-bordered-sm", alt: "Profile image for #{@user.username}" %>
        <% else %>
          <%= image_tag "avatar.jpg", class: "avatar-bordered-sm", alt: "Profile image for #{@user.username}" %>
        <% end %>
        <p class="m-0">
          <%= @user.username %>
        </p>
        <% @chatroom = Chatroom.where(user1: current_user, user2: @user).or(Chatroom.where(user1: @user, user2: current_user)) %>
        <% if @user == current_user %>
          <%= link_to "EDIT PROFILE", edit_user_registration_path(current_user), class: "btn btn-grey" %>
        <% elsif user_signed_in? && @chatroom.present? %>
          <%= link_to "MESSAGE", chatroom_path(@chatroom[0]), class: "btn btn-grey" %>
        <% elsif user_signed_in? %>
          <%= simple_form_for(Chatroom) do |f| %>
            <%= f.hidden_field :user2_id, value: @user.id %>
            <%= f.submit "MESSAGE", class: "btn btn-grey"%>
          <% end %>
        <% end %>
      </div>

      <div class="user-profile-stats">
        <div class="user-stats-films">
          <h3>
            <%= @user.films.count %>
          </h3>
          <p>
            FILMS
          </p>
        </div>
        <div class="user-stats-likes">
          <h3>
            <%= @user.films.where(like: true).count %>
          </h3>
          <p>
            LIKES
          </p>
        </div>
        <div class="user-stats-lists">
          <h3>
            <%= @user.lists.count %>
          </h3>
          <p>
            LISTS
          </p>
        </div>
        <div class="user-stats-reviews">
          <h3>
            <%= @user.reviews.count %>
          </h3>
          <p>
            REVIEWS
          </p>
        </div>
      </div>
    </div>

    <div class="user-profile-watched">
      <div class="watched-header">
        <p class="m-0">
          RECENTLY WATCHED
        </p>
      </div>

      <div class="grid-container">
        <% @watched_films = @user.films.where(watched: true) %>

        <% @watched_films.order("watched_updated_at DESC").first(6).each do |film| %>
          <div class="grid-item" data-controller="profile" data-profile-library-id-value="<%= film.film_library_id %>" data-profile-target="film">
            <a href="<%= library_path(film.film_library) %>">
              <% if film.film_library.image_url.last(4) == "inal" %>
                <%= image_tag "poster.jpeg", alt: "Poster for #{film.film_library.title}" %>
              <% else %>
                <%= image_tag film.film_library.image_url, alt: "Poster for #{film.film_library.title}" %>
              <% end %>

              <div class="film-details">
                <% if user_signed_in? %>
                  <div class="film-details-card">
                    <div data-action="click->profile#tracker">
                      <% @current_user_film = Film.find_by(film_library_id: film.film_library, user_id: current_user) %>
                      <% if @current_user_film.present? && @current_user_film.watched %>
                        <i class="fa-solid fa-eye" style="color: #00E054;" data-category="watched" data-profile-target="icon" data-icon="watch" data-status="active" data-user-id="<%= current_user.id %>" data-film-user="<%= film.user_id %>"></i>
                        <i class="fa-regular fa-eye d-none" data-category="watched" data-profile-target="icon" data-icon="watch" data-status="inactive" data-user-id="<%= current_user.id %>" data-film-user="<%= film.user_id %>"></i>
                      <% else %>
                        <i class="fa-solid fa-eye d-none" style="color: #00E054;" data-category="watched" data-profile-target="icon" data-icon="watch" data-status="active" data-user-id="<%= current_user.id %>" data-film-user="<%= film.user_id %>"></i>
                        <i class="fa-regular fa-eye" data-category="watched" data-profile-target="icon" data-icon="watch" data-status="inactive" data-user-id="<%= current_user.id %>" data-film-user="<%= film.user_id %>"></i>
                      <% end %>
                    </div>

                    <div data-action="click->profile#tracker">
                      <% if @current_user_film.present? && @current_user_film.watched %>
                        <i class="fa-solid fa-heart" style="color: #FF900F;" data-category="watched" data-profile-target="icon" data-icon="like" data-status="active" data-user-id="<%= current_user.id %>" data-film-user="<%= film.user_id %>"></i>
                        <i class="fa-regular fa-heart d-none" data-category="watched" data-profile-target="icon" data-icon="like" data-status="inactive" data-user-id="<%= current_user.id %>" data-film-user="<%= film.user_id %>"></i>
                      <% else %>
                        <i class="fa-solid fa-heart d-none" style="color: #FF900F;" data-category="watched" data-profile-target="icon" data-icon="like" data-status="active" data-user-id="<%= current_user.id %>" data-film-user="<%= film.user_id %>"></i>
                        <i class="fa-regular fa-heart" data-category="watched" data-profile-target="icon" data-icon="like" data-status="inactive" data-user-id="<%= current_user.id %>" data-film-user="<%= film.user_id %>"></i>
                      <% end %>
                    </div>
                  </div>
                <% else %>
                <% end %>
              </div>
            </a>

            <div class="film-rating-reviews">
              <div>
                <% case film.rating %>
                <% when 1 %>
                  <i class="fa-solid fa-star" data-icon="rating" data-rating="1"></i>
                <% when 2 %>
                  <i class="fa-solid fa-star" data-icon="rating" data-rating="1"></i>
                  <i class="fa-solid fa-star" data-icon="rating" data-rating="2"></i>
                <% when 3 %>
                  <i class="fa-solid fa-star" data-icon="rating" data-rating="1"></i>
                  <i class="fa-solid fa-star" data-icon="rating" data-rating="2"></i>
                  <i class="fa-solid fa-star" data-icon="rating" data-rating="3"></i>
                <% when 4 %>
                  <i class="fa-solid fa-star" data-icon="rating" data-rating="1"></i>
                  <i class="fa-solid fa-star" data-icon="rating" data-rating="2"></i>
                  <i class="fa-solid fa-star" data-icon="rating" data-rating="3"></i>
                  <i class="fa-solid fa-star" data-icon="rating" data-rating="4"></i>
                <% when 5 %>
                  <i class="fa-solid fa-star" data-icon="rating" data-rating="1"></i>
                  <i class="fa-solid fa-star" data-icon="rating" data-rating="2"></i>
                  <i class="fa-solid fa-star" data-icon="rating" data-rating="3"></i>
                  <i class="fa-solid fa-star" data-icon="rating" data-rating="4"></i>
                  <i class="fa-solid fa-star" data-icon="rating" data-rating="5"></i>
                <% else %>
                <% end %>
              </div>

              <div>
                <% if film.reviews.present? %>
                  <i class="fa-solid fa-chart-bar"></i>
                <% else %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="user-profile-watchlist">
      <div class="watchlist-header">
        <p class="m-0">
          WATCHLIST
        </p>
      </div>

      <div class="grid-container">
        <% @watchlist = @user.films.where(watchlist: true) %>

        <% @watchlist.order("watchlist_updated_at DESC").first(6).each do |film| %>
          <div class="grid-item" data-controller="profile" data-profile-library-id-value="<%= film.film_library_id %>" data-profile-target="film">
            <a href="<%= library_path(film.film_library) %>">
              <% if film.film_library.image_url.last(4) == "inal" %>
                <%= image_tag "poster.jpeg", alt: "Poster for #{film.film_library.title}" %>
              <% else %>
                <%= image_tag film.film_library.image_url, alt: "Poster for #{film.film_library.title}" %>
              <% end %>

              <div class="film-details watchlist">
                <% if user_signed_in? %>
                  <div class="film-details-card">
                    <div data-action="click->profile#tracker">
                      <% @current_user_film = Film.find_by(film_library_id: film.film_library, user_id: current_user) %>
                      <% if @current_user_film.present? && @current_user_film.watched %>
                        <i class="fa-solid fa-eye" style="color: #00E054;" data-category="watchlist" data-profile-target="icon" data-icon="watch" data-status="active" data-user-id="<%= current_user.id %>" data-film-user="<%= film.user_id %>"></i>
                        <i class="fa-regular fa-eye d-none" data-category="watchlist" data-profile-target="icon" data-icon="watch" data-status="inactive" data-user-id="<%= current_user.id %>" data-film-user="<%= film.user_id %>"></i>
                      <% else %>
                        <i class="fa-solid fa-eye d-none" style="color: #00E054;" data-category="watchlist" data-profile-target="icon" data-icon="watch" data-status="active" data-user-id="<%= current_user.id %>" data-film-user="<%= film.user_id %>"></i>
                        <i class="fa-regular fa-eye" data-category="watchlist" data-profile-target="icon" data-icon="watch" data-status="inactive" data-user-id="<%= current_user.id %>" data-film-user="<%= film.user_id %>"></i>
                      <% end %>
                    </div>

                    <div data-action="click->profile#tracker">
                      <% if @current_user_film.present? && @current_user_film.like %>
                        <i class="fa-solid fa-heart" style="color: #FF900F;" data-category="watchlist" data-profile-target="icon" data-icon="like" data-status="active" data-user-id="<%= current_user.id %>" data-film-user="<%= film.user_id %>"></i>
                        <i class="fa-regular fa-heart d-none" data-category="watchlist" data-profile-target="icon" data-icon="like" data-status="inactive" data-user-id="<%= current_user.id %>" data-film-user="<%= film.user_id %>"></i>
                      <% else %>
                        <i class="fa-solid fa-heart d-none" style="color: #FF900F;" data-category="watchlist" data-profile-target="icon" data-icon="like" data-status="active" data-user-id="<%= current_user.id %>" data-film-user="<%= film.user_id %>"></i>
                        <i class="fa-regular fa-heart" data-category="watchlist" data-profile-target="icon" data-icon="like" data-status="inactive" data-user-id="<%= current_user.id %>" data-film-user="<%= film.user_id %>"></i>
                      <% end %>
                    </div>
                  </div>
                <% else %>
                <% end %>
              </div>
            </a>
          </div>
        <% end %>
      </div>
    </div>

    <div class="user-profile-reviews" data-controller="datepicker">
      <div class="reviews-header">
        <p class="m-0">
          RECENT REVIEWS
        </p>
      </div>

      <div data-controller="review">
        <% @reviews = @user.reviews %>
        <% @modal_number = 0 %>

        <% if @reviews.present? %>
          <% @reviews.order("updated_at DESC").each do |review| %>

            <% @modal_number += 1 %>

            <% if review == @reviews.order("updated_at DESC").first %>
              <div class="review-first">
            <% else %>
              <div class="review">
            <% end %>

            <% @current_user_film = Film.find_by(film_library_id: review.film_library, user_id: current_user) %>
            <%= link_to library_path(review.film_library), class: "review-film-img" do %>
              <% if review.film_library.image_url.last(4) == "inal" %>
                  <%= image_tag "poster.jpeg", alt: "Poster for #{review.film_library.title}" %>
              <% else %>
                  <%= image_tag review.film_library.image_url, alt: "Poster for #{review.film_library.title}" %>
              <% end %>

              <div class="review-film-details" data-controller="profile" data-profile-library-id-value="<%= review.film_library_id %>" data-profile-target="film">
                <% if user_signed_in? %>
                  <div class="review-film-details-card">
                    <div data-action="click->profile#tracker">
                      <% if @current_user_film.present? && @current_user_film.watched %>
                        <i class="fa-solid fa-eye" style="color: #00E054;" data-category="review" data-profile-target="icon" data-icon="watch" data-status="active" data-user-id="<%= current_user.id %>" data-film-user="<%= review.user_id %>"></i>
                        <i class="fa-regular fa-eye d-none" data-category="review" data-profile-target="icon" data-icon="watch" data-status="inactive" data-user-id="<%= current_user.id %>" data-film-user="<%= review.user_id %>"></i>
                      <% else %>
                        <i class="fa-solid fa-eye d-none" style="color: #00E054;" data-category="review" data-profile-target="icon" data-icon="watch" data-status="active" data-user-id="<%= current_user.id %>" data-film-user="<%= review.user_id %>"></i>
                        <i class="fa-regular fa-eye" data-category="review" data-profile-target="icon" data-icon="watch" data-status="inactive" data-user-id="<%= current_user.id %>" data-film-user="<%= review.user_id %>"></i>
                      <% end %>
                    </div>

                    <div data-action="click->profile#tracker">
                      <% if @current_user_film.present? && @current_user_film.like %>
                        <i class="fa-solid fa-heart" style="color: #FF900F;" data-category="review" data-profile-target="icon" data-icon="like" data-status="active" data-user-id="<%= current_user.id %>" data-film-user="<%= review.user_id %>"></i>
                        <i class="fa-regular fa-heart d-none" data-category="review" data-profile-target="icon" data-icon="like" data-status="inactive" data-user-id="<%= current_user.id %>" data-film-user="<%= review.user_id %>"></i>
                      <% else %>
                        <i class="fa-solid fa-heart d-none" style="color: #FF900F;" data-category="review" data-profile-target="icon" data-icon="like" data-status="active" data-user-id="<%= current_user.id %>" data-film-user="<%= review.user_id %>"></i>
                        <i class="fa-regular fa-heart" data-category="review" data-profile-target="icon" data-icon="like" data-status="inactive" data-user-id="<%= current_user.id %>" data-film-user="<%= review.user_id %>"></i>
                      <% end %>
                    </div>
                  </div>
                <% else %>
                <% end %>
              </div>
            <% end %>

            <div class="review-content">
              <div class="review-content-header">
                <div class="review-content-title">
                  <h3>
                    <%= link_to review.film_library.title, library_path(review.film_library) %>
                  </h3>
                </div>

                <% if @user == current_user %>
                  <div class="review-actions">
                    <i class="fa-solid fa-pencil" data-bs-toggle="modal" data-bs-target="#exampleModal<%= @modal_number %>"></i>

                    <%= link_to review_path(review), data: {turbo_method: :delete}, class: "delete-list" do %>
                      <i class="fa-regular fa-trash-can"></i>
                    <% end %>

                    <div class="modal fade" id="exampleModal<%= @modal_number %>" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg">
                        <div class="modal-content review-modal-content">
                          <div class="modal-header review-modal-header">
                            <a href="<%= member_path(@user) %>" class="btn-close review-modal-btn-close" aria-label="Close"></a>
                          </div>
                          <div class="modal-body">
                            <div class="row">
                              <div class="col-md-3 ps-md-4 col-sm-4 ps-sm-3">
                                <div class="review-modal-img">
                                  <% if review.film_library.image_url.last(4) == 'inal' %>
                                    <%= image_tag "poster.jpeg", alt: "Poster for #{review.film_library.title}" %>
                                  <% else %>
                                    <%= image_tag review.film_library.image_url, alt: "Poster for #{review.film_library.title}" %>
                                  <% end %>
                                </div>
                              </div>
                              <div class="col-md-9 px-md-4 col-sm-8 pe-sm-3">
                                <div class="review-modal-subtitle">
                                  <p class="m-0">
                                    LAST WATCHED ON
                                  </p>
                                  <input class="form-control form-control-sm review-modal-pickr" data-datepicker-target="editReview" data-review-target="updatedReviewDate" data-review-id="<%= review.id %>" data-date="<%= review.date %>" type="text" placeholder="Select date" aria-label=".form-control-sm example">
                                </div>
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Review of <%= review.film_library.title %> </h1>
                                <div class="mb-3">
                                  <textarea class="form-control review-modal-input" id="exampleFormControlTextarea1" data-review-target="updatedReview" data-review-id="<%= review.id %>" rows="4"><%= review.review %></textarea>
                                </div>
                                <div class="review-modal-rating">
                                  <p class="m-0">
                                    Rating:
                                  </p>
                                  <div class="review-rating">
                                    <div class="review-rating-stars">
                                      <% case review.rating %>
                                      <% when 1 %>
                                        <i class="fa-solid fa-star starred" data-action="click->review#updateRating" data-review-target="updatedRating" data-review-id="<%= review.id %>" data-rating="1"></i>
                                        <i class="fa-solid fa-star" data-action="click->review#updateRating" data-review-target="updatedRating" data-review-id="<%= review.id %>" data-rating="2"></i>
                                        <i class="fa-solid fa-star" data-action="click->review#updateRating" data-review-target="updatedRating" data-review-id="<%= review.id %>" data-rating="3"></i>
                                        <i class="fa-solid fa-star" data-action="click->review#updateRating" data-review-target="updatedRating" data-review-id="<%= review.id %>" data-rating="4"></i>
                                        <i class="fa-solid fa-star" data-action="click->review#updateRating" data-review-target="updatedRating" data-review-id="<%= review.id %>" data-rating="5"></i>
                                      <% when 2 %>
                                        <i class="fa-solid fa-star starred" data-action="click->review#updateRating" data-review-target="updatedRating" data-review-id="<%= review.id %>" data-rating="1"></i>
                                        <i class="fa-solid fa-star starred" data-action="click->review#updateRating" data-review-target="updatedRating" data-review-id="<%= review.id %>" data-rating="2"></i>
                                        <i class="fa-solid fa-star" data-action="click->review#updateRating" data-review-target="updatedRating" data-review-id="<%= review.id %>" data-rating="3"></i>
                                        <i class="fa-solid fa-star" data-action="click->review#updateRating" data-review-target="updatedRating" data-review-id="<%= review.id %>" data-rating="4"></i>
                                        <i class="fa-solid fa-star" data-action="click->review#updateRating" data-review-target="updatedRating" data-review-id="<%= review.id %>" data-rating="5"></i>
                                      <% when 3 %>
                                        <i class="fa-solid fa-star starred" data-action="click->review#updateRating" data-review-target="updatedRating" data-review-id="<%= review.id %>" data-rating="1"></i>
                                        <i class="fa-solid fa-star starred" data-action="click->review#updateRating" data-review-target="updatedRating" data-review-id="<%= review.id %>" data-rating="2"></i>
                                        <i class="fa-solid fa-star starred" data-action="click->review#updateRating" data-review-target="updatedRating" data-review-id="<%= review.id %>" data-rating="3"></i>
                                        <i class="fa-solid fa-star" data-action="click->review#updateRating" data-review-target="updatedRating" data-review-id="<%= review.id %>" data-rating="4"></i>
                                        <i class="fa-solid fa-star" data-action="click->review#updateRating" data-review-target="updatedRating" data-review-id="<%= review.id %>" data-rating="5"></i>
                                      <% when 4 %>
                                        <i class="fa-solid fa-star starred" data-action="click->review#updateRating" data-review-target="updatedRating" data-review-id="<%= review.id %>" data-rating="1"></i>
                                        <i class="fa-solid fa-star starred" data-action="click->review#updateRating" data-review-target="updatedRating" data-review-id="<%= review.id %>" data-rating="2"></i>
                                        <i class="fa-solid fa-star starred" data-action="click->review#updateRating" data-review-target="updatedRating" data-review-id="<%= review.id %>" data-rating="3"></i>
                                        <i class="fa-solid fa-star starred" data-action="click->review#updateRating" data-review-target="updatedRating" data-review-id="<%= review.id %>" data-rating="4"></i>
                                        <i class="fa-solid fa-star" data-action="click->review#updateRating" data-review-target="updatedRating" data-review-id="<%= review.id %>" data-rating="5"></i>
                                      <% when 5 %>
                                        <i class="fa-solid fa-star starred" data-action="click->review#updateRating" data-review-target="updatedRating" data-review-id="<%= review.id %>" data-rating="1"></i>
                                        <i class="fa-solid fa-star starred" data-action="click->review#updateRating" data-review-target="updatedRating" data-review-id="<%= review.id %>" data-rating="2"></i>
                                        <i class="fa-solid fa-star starred" data-action="click->review#updateRating" data-review-target="updatedRating" data-review-id="<%= review.id %>" data-rating="3"></i>
                                        <i class="fa-solid fa-star starred" data-action="click->review#updateRating" data-review-target="updatedRating" data-review-id="<%= review.id %>" data-rating="4"></i>
                                        <i class="fa-solid fa-star starred" data-action="click->review#updateRating" data-review-target="updatedRating" data-review-id="<%= review.id %>" data-rating="5"></i>
                                      <% end %>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="modal-footer review-modal-footer">
                            <button type="button" class="btn btn-green" data-action="click->review#updateReview" data-film-id="<%= review.film.id %>" data-review-id="<%= review.id %>">Update</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <% else %>
                <% end %>
              </div>

              <div class="review-content-date">
                <h4>
                  <%= review.film_library.release_date.first(4) %>
                </h4>
              </div>

              <div class="review-content-subheader">
                <div class="d-flex me-2">
                  <% case review.rating %>
                  <% when 1 %>
                    <i class="fa-solid fa-star starred" data-action="click->film-info#updateRating" data-film-info-target="updatedRating" data-rating="1"></i>
                    <i class="fa-solid fa-star" data-action="click->film-info#updateRating" data-film-info-target="updatedRating" data-rating="2"></i>
                    <i class="fa-solid fa-star" data-action="click->film-info#updateRating" data-film-info-target="updatedRating" data-rating="3"></i>
                    <i class="fa-solid fa-star" data-action="click->film-info#updateRating" data-film-info-target="updatedRating" data-rating="4"></i>
                    <i class="fa-solid fa-star" data-action="click->film-info#updateRating" data-film-info-target="updatedRating" data-rating="5"></i>
                  <% when 2 %>
                    <i class="fa-solid fa-star starred" data-action="click->film-info#updateRating" data-film-info-target="updatedRating" data-rating="1"></i>
                    <i class="fa-solid fa-star starred" data-action="click->film-info#updateRating" data-film-info-target="updatedRating" data-rating="2"></i>
                    <i class="fa-solid fa-star" data-action="click->film-info#updateRating" data-film-info-target="updatedRating" data-rating="3"></i>
                    <i class="fa-solid fa-star" data-action="click->film-info#updateRating" data-film-info-target="updatedRating" data-rating="4"></i>
                    <i class="fa-solid fa-star" data-action="click->film-info#updateRating" data-film-info-target="updatedRating" data-rating="5"></i>
                  <% when 3 %>
                    <i class="fa-solid fa-star starred" data-action="click->film-info#updateRating" data-film-info-target="updatedRating" data-rating="1"></i>
                    <i class="fa-solid fa-star starred" data-action="click->film-info#updateRating" data-film-info-target="updatedRating" data-rating="2"></i>
                    <i class="fa-solid fa-star starred" data-action="click->film-info#updateRating" data-film-info-target="updatedRating" data-rating="3"></i>
                    <i class="fa-solid fa-star" data-action="click->film-info#updateRating" data-film-info-target="updatedRating" data-rating="4"></i>
                    <i class="fa-solid fa-star" data-action="click->film-info#updateRating" data-film-info-target="updatedRating" data-rating="5"></i>
                  <% when 4 %>
                    <i class="fa-solid fa-star starred" data-action="click->film-info#updateRating" data-film-info-target="updatedRating" data-rating="1"></i>
                    <i class="fa-solid fa-star starred" data-action="click->film-info#updateRating" data-film-info-target="updatedRating" data-rating="2"></i>
                    <i class="fa-solid fa-star starred" data-action="click->film-info#updateRating" data-film-info-target="updatedRating" data-rating="3"></i>
                    <i class="fa-solid fa-star starred" data-action="click->film-info#updateRating" data-film-info-target="updatedRating" data-rating="4"></i>
                    <i class="fa-solid fa-star" data-action="click->film-info#updateRating" data-film-info-target="updatedRating" data-rating="5"></i>
                  <% when 5 %>
                    <i class="fa-solid fa-star starred" data-action="click->film-info#updateRating" data-film-info-target="updatedRating" data-rating="1"></i>
                    <i class="fa-solid fa-star starred" data-action="click->film-info#updateRating" data-film-info-target="updatedRating" data-rating="2"></i>
                    <i class="fa-solid fa-star starred" data-action="click->film-info#updateRating" data-film-info-target="updatedRating" data-rating="3"></i>
                    <i class="fa-solid fa-star starred" data-action="click->film-info#updateRating" data-film-info-target="updatedRating" data-rating="4"></i>
                    <i class="fa-solid fa-star starred" data-action="click->film-info#updateRating" data-film-info-target="updatedRating" data-rating="5"></i>
                  <% end %>
                </div>

                <p class="m-0">
                  Watched <%= review.date.strftime("%d %b %Y") %>
                </p>
              </div>

              <div class="content-width">
                <p>
                  <%= review.review %>
                </p>
              </div>
            </div>
          </div>
          <% end %>
        <% else %>
          <p class="mt-3">
            No reviews currently.
          </p>
        <% end %>
      </div>

    </div>

  </div>
</div>
